<!DOCTYPE html>
<html>
<head>
  <title>Sessiongrab</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<p><small>Source at: <%= link_to 'https://github.com/dougal/sessiongrab', 'https://github.com/dougal/sessiongrab' %></small></p>

</body>
</html>
